
.button{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 0);
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
    transition: .2s;
}

.button:hover{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 0);
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
    transition: .2s;
}