.delete-button {
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 10);
    background-color: rgb(255, 191, 191);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: .2s;
}

.delete-button:hover {
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 20);
    background-color: rgb(255, 116, 116);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}