.delete-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button{
    width: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    position: absolute;
    width: 250px;
    display: flex;
    background-color: rgb(255, 212, 212);
    padding: .75em;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.confirm-delete{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 0);
    background-color: rgb(255, 212, 212);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: .2s;
}

.confirm-delete:hover{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 20);
    background-color: rgb(255, 116, 116);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.delete-cancel{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 0);
    background-color: rgb(255, 212, 212);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: .2s;
}

.delete-cancel:hover{
    color: rgb(67, 67, 67);
    font-size: medium;
    border: 1px solid rgb(180, 180, 180, 20);
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}