.update-spot-button{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(180, 180, 180, 0);
    border-radius: 20px;
    padding: 8px;
    transition: 0.2s;
    cursor: pointer
}

.update-spot-button:hover{
    border: 1px solid rgb(242, 242, 242);
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
    opacity: 1;
}