.stars-numReviews-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchBar{
    display: flex;
    justify-content: center;
}

.create-review{
    display: flex;
    justify-content: center;
}

.review-create-menu{
    display: flex;
    flex-direction: column;
}

.create-header{
    font-size: x-large;
}