.dropdownButton {
    width: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdownButton:hover {
    opacity: 1;
}

.upperRightNavContainer {
    width: 220px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: unset;
    
}

.sessionLinks {
    display: flex;
    flex-direction: column;
    display: flex;
    flex: column;
    justify-content: space-evenly;
    
}

.profile-dropdown {
    position: absolute;
    width: 160px;
    right: 0;
    display: flex;
    background-color: white;
    padding: .75em;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.utility-dropdown {
    position: relative;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    padding: 7px;
    opacity: 1;
    transition: 0.2s;
    cursor: pointer;
}

.utility-dropdown:hover {
    opacity: 1;
    box-shadow: rgba(120, 120, 120, 0.5) 0px 2px 4px 0;
}

.host-wrapper {
    width: 200px;
    display: flex;
}

.become-a-host {
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: static; */
    /* border: solid red 1px; */

    
    margin-right: 40px;
    left: 0;

}

.demo-user-button{
    cursor: pointer;
}


